.button {
    width: 100px;
    height:100px;
    font-size: 36px;
    color: #EEE;
    background-color: indigo;
    margin: 50px 30px;

    border-radius: 20px;
    
}

.button:hover {
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}