* {
    margin:0; padding:0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #070122;
}

.header-title {

    padding: 20px 20px; 
    text-align: center;

    font-size: 20px;

    color: #EEEEEE;
}



@media(min-width: 400px) {

}