* {
  text-align: center;
}

.App-header {
  margin:0px 20px;
  background-color: rgb(154, 197, 228);
  color: #000;
  display: flex;
  justify-content: space-around;
}

.App-header .route-link {
  margin: 20px;
  font-size: 28px;
  padding: 20px;

}
