* {
  margin:0; padding:0;
  box-sizing: border-box;
  background-color: rgb(4, 65, 9);
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
  margin-top: 10% ;
}

.App .add-container {
  display: flex;
  flex-direction: column;
  padding: 36px;
  background-color: #123;
  border-radius: 11px;
    box-shadow:  50px 50px 92px #0b172e,
                -50px -50px 92px #172d5a;
}

.App .input-food-item {
  width: 300px;
  height: 45px;
  margin : 50px 0px 20px 0px;
  background-color: #FFF;
  padding: 5px 25px;
  font-size: 20px;
  border-radius: 20px;
}

.App .input-calories {
  width: 300px;
  height: 45px;
  margin : 25px 0px 20px 0px;
  background-color: #FFF;
  padding: 5px 25px;
  font-size: 20px;
  border-radius: 20px;
}

.App .add-button {
  width: 50px;
  height: 50px;
  font-size: 36px;
  color: #FFF;
  border-radius: 100px;
  background-color: #F22;
  margin-top: 25px;
}